*.iml
.gradle/
/gradle/*
!/gradle/libs.versions.toml
!/gradle/wrapper/
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
/local.properties
/.idea/
.DS_Store
/build/
**/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
documentation/features/implementation/qa/*.png
